<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="Model11" connectionString="data source=PC13031627J;initial catalog=MyTiptop;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>