/Data/
/.vs/
/packages/
/Libraries/MyTiptop.Data/bin/
/Libraries/MyTiptop.Data/obj/
/Libraries/MyTiptop.Core/bin/
/Libraries/MyTiptop.Core/obj/
/Libraries/MyTiptop.MysqlData/bin/
/Libraries/MyTiptop.MysqlData/obj/
/Libraries/MyTiptop.OraCore/bin/
/Libraries/MyTiptop.OraCore/obj/
/Libraries/MyTiptop.OraData/bin/
/Libraries/MyTiptop.OraData/obj/
/Libraries/MyTiptop.Services/bin/
/Libraries/MyTiptop.Services/obj/
/Libraries/MyTiptop.SupplierData/bin/
/Libraries/MyTiptop.SupplierData/obj/
/Presentation/MyTiptop.Web/bin/
/Presentation/MyTiptop.Web/obj/
/Presentation/MyTiptop.Web.Framework/bin/
/Presentation/MyTiptop.Web.Framework/obj/
/Presentation/MyTiptop.WinForm/bin/
/Presentation/MyTiptop.WinForm/obj/
/Presentation/MyTiptop.WinFormOA/bin/
/Presentation/MyTiptop.WinFormOA/obj/
/Strategies/MyTiptop.ConfigStrategy.File/bin/
/Strategies/MyTiptop.ConfigStrategy.File/obj/
/Strategies/MyTiptop.RandomStrategy.QAMall/bin/
/Strategies/MyTiptop.RandomStrategy.QAMall/obj/
/Strategies/MyTiptop.RDBSStrategy.SqlServer/bin/
/Strategies/MyTiptop.RDBSStrategy.SqlServer/obj/
/Strategies/MyTiptop.SessionStrategy.AspNetCache/bin/
/Strategies/MyTiptop.SessionStrategy.AspNetCache/obj/