<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <connectionStrings>
 
      <!--MySql连接字符串 -->
      <add name="MySqlConStr" connectionString="Server=192.168.0.61;Database=TD_OA;User ID=root;Password=myoa888;port=3336;CharSet=utf8;pooling=true;Allow User Variables=True;" />
 
    </connectionStrings>

    <appSettings> 
   


      <!--发送邮件参数-->
      <!--邮箱账户 yuanqiang.zheng -->
      <add key="System_MailServerUserName" value="erp" />
      <!--邮箱密码 a0000000a-->
      <add key="System_MailServerPassWord" value="GrAndtEec2013" />
      <!--发送邮件的服务器 192.168.0.1 smtp.grand-tec.com -->
      <add key="System_MailServerSmtp" value="192.168.0.1" />
      <!--邮件服务器端口 -->
      <add key="System_MailPort" value="25" />
      <!--从哪个邮箱发出去yuanqiang.zheng@grand-tec.com-->
      <add key="System_FromEMail" value="erp@grand-tec.com" />
      <!--以什么名字发出去-->
      <add key="System_FromName" value="OA" />
      <!--邮件标题-->
      <add key="System_Subject" value="系统提醒" />
      <!--邮件接收人，以分号分隔多人41389984@qq.com;-->
      <add key="System_Receiver" value="hhydh@126.com" />
  
    </appSettings> 


</configuration> 