<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    @*<script type="text/javascript" src="../../admin_mall/scripts/jquery-3.1.1.min.js"></script>*@
    <script type="text/javascript" src="../../admin_mall/scripts/jquery.js"></script>
    <!--miniui-->
    <script type="text/javascript" src="../../admin_mall/scripts/boot.js"></script>
    <link href="../../admin_mall/scripts/miniui/themes/blue/skin.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="mini-toolbar" style="padding: 2px; border-bottom: 0;">
        <table style="width: 100%;">
            <tr>
                <td style="width: 100%;">
                    <a class="mini-button" iconcls="icon-add" onclick="addRow()" plain="true" tooltip="增加...">增加</a>
                    <span class="separator"></span> 
                    <a class="mini-button" iconcls="icon-remove" onclick="removeRow()" plain="true">删除</a>
                    <span class="separator"></span>
                    <a class="mini-button" iconcls="icon-save" plain="true" onclick="saveData()">保存</a> 
                    <span class="separator"></span>
                    @*<a class="mini-button" iconcls="icon-expand" onclick="ExportExcel()" plain="true">导出</a><span class="separator"></span>*@
                    @*<input  id="ddlrungrid" labelField="true" label="报表名称：" name="ddlrungrid" showNullItem="true" class="mini-combobox"  url="ddlRungrid" value="" textField="text" valueField="id"  />*@
                </td>
                <td style="white-space: nowrap;">
                    <label style="font-family: Verdana;">
                        关键字:
                    </label>
                    <input id="key" class="mini-textbox" emptytext="请输入报表名称" style="width: 150px;"  onenter="onKeyEnter" />
                    <a class="mini-button" iconcls="icon-search" plain="true" onclick="search()">查询</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="mini-fit">
        <div id="datagrid1" class="mini-datagrid" style="width: 100%; height: 900;" url="MyDataBingForRunGridViews" 
             idfield="BaseRunGridViewID" allowresize="true" sizelist="[10,20,100,200,300]" pagesize="10" allowcelledit="true" cellEditAction="celldblclick"  oncellbeginedit="OnCellBeginEdit"
             allowcellselect="true" editnextonenterkey="true" allowcellvalid="true" multiselect="true"  
             editnextrowcell="true" allowalternating="true" showcolumnsmenu="false" contextmenu="#gridMenu" headercontextmenu="#headerMenu">
            <div property="columns">
                <div type="indexcolumn"></div>
                <div type="checkcolumn"></div>

                <div field="GridViewName" name="GridViewName" width="120" align="left" headeralign="center"   allowsort="true">
                    报表名称<input property="editor" class="mini-textbox" style="width: 100%;" minwidth="20" />
                </div>

                <div field="strSelect" name="strSelect" width="280" align="left" headeralign="center"   allowsort="true">
                    SQL语句<input property="editor" class="mini-textbox" style="width: 100%;" minwidth="20" />
                </div>

                <div field="Type" name="Type" width="60" align="center" headeralign="center" vtype="required" allowsort="true">
                    Type<input property="editor" class="mini-textbox" style="width: 100%;" minwidth="20" />
                </div>
                <div field="ViewOrder" name="ViewOrder" width="60" align="center" headeralign="center" vtype="required" allowsort="true">
                    序号<input property="editor" class="mini-textbox" style="width: 100%;" minwidth="20" />
                </div>

                <div field="DBType" name="DBType" width="60" align="center" headeralign="center" vtype="required" renderer="onGenderRenderer" allowsort="true">
                    数据库<input property="editor" class="mini-combobox" style="width: 100%;" data="Genders" minwidth="20" />
                </div>
                <div field="SqlType" name="SqlType" width="80" align="center" headeralign="center"   renderer="onGenderRenderer2" allowsort="true">
                    SQL语句类型<input property="editor" class="mini-combobox" style="width: 100%;" data="Genders2" minwidth="20" />
                </div>

                @*<div field="Base_RunGridView_Id" name="Base_RunGridView_Id" width="120" align="center" vtype="required" headeralign="center" allowsort="true" type="comboboxcolumn">
                    报表名称<input property="editor" class="mini-combobox" style="width: 100%;" valuefield="BaseRunGridViewID"
                                textfield="GridViewName" url="GetRungrid" allowInput="true" showNullItem="false" />
                </div>*@
            </div>
        </div>
    </div>

    <!-- iframe 高度设置 -->
    <script type="text/javascript" src="@Url.Content("~/admin_mall/scripts/home/iframe.js")"></script>


     
</body>
</html>

<script type="text/javascript">

    mini.parse();

    var grid = mini.get("datagrid1");

    //默认查询在用数据
    //grid.load({ status: ddlrungrid });
    grid.load();

    ///////////////////////////查询/////////////////////////////
    function search() {
        var key = mini.get("key").getValue();
       
        grid.load(
            { 
                //传递查询参数 
                key: key
            }
        );
    }
    function onKeyEnter(e) {
        search();
    }

    //如果是录入员,录入时间，则不允许编辑
    function OnCellBeginEdit(e) {
        var field = e.field;
        //if (field == "InputUserID" || field == "UpdateTime") {
        //    e.cancel = true;
        //}
    }
    //添加
    function addRow() {
        var newRow = { name: "New Row" };
        grid.addRow(newRow, 0);
        grid.beginEditCell(newRow, "LoginName");
    }
    //删除
    function removeRow() {
        var rows = grid.getSelecteds();
        if (rows.length > 0) {
            grid.removeRows(rows, true);
        }
    }
    //保存
    function saveData() {
        //效验数据
        //var grid = mini.get("datagrid1");
        grid.validate();
        if (grid.isValid() == false) {
            //alert("请校验输入单元格内容");
            var error = grid.getCellErrors()[0];
            grid.beginEditCell(error.record, error.column);
            return;
        }
        //获得增加、删除、修改的记录集合
        var data = grid.getChanges();
        var json = mini.encode(data);
        grid.loading("保存中，请稍后......");
        $.ajax({
            url: "../../malladmin/rungridview/savechangedforrungridviews",
            data: { data: json },
            type: "post",
            success: function (text) {
                grid.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }

    grid.on("celleditenter", function (e) {
        var index = grid.indexOf(e.record);
        if (index == grid.getData().length - 1) {
            var row = {};
            grid.addRow(row);
        }
    });

    grid.on("beforeload", function (e) {
        if (grid.getChanges().length > 0) {
            if (confirm("有增删改的数据未保存，是否取消本次操作？")) {
                e.cancel = true;
            }
        }
    });

    var Genders = [{ id: 'Sql', text: 'Sql' }, { id: 'Oracle', text: 'Oracle' }];
    function onGenderRenderer(e) {
        for (var i = 0, l = Genders.length; i < l; i++) {
            var g = Genders[i];
            if (g.id == e.value) return g.text;
        }
        return "";
    }

    var Genders2 = [{ id: '', text: '' }, { id: 'Sql', text: 'Sql' }, { id: 'Proc', text: 'Proc' }];
    function onGenderRenderer2(e) {
        for (var i = 0, l = Genders2.length; i < l; i++) {
            var g = Genders2[i];
            if (g.id == e.value) return g.text;
        }
        return "";
    }

</script>


<script type="text/javascript">
var WinAlerts = window.alert;
window.alert = function(e) {
//console.log('对象数组1：', e);
    if(e != null && e.indexOf("www.miniui.com") > -1) {
        //和谐了
    }
    else {
        WinAlerts(e);
    }
};
</script>