<?xml version="1.0" encoding="utf-8" ?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Host>192.168.0.1</Host>
  <Port>25</Port>
  <UserName>erp</UserName>
  <Password>GrAndtEec2013</Password>
  <From>erp@grand-tec.com</From>
  <FromName>系统邮件</FromName>
  <FindPwdBody>&lt;p&gt;{mallname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</FindPwdBody>
  <SCVerifyBody>&lt;p&gt;{mallname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</SCVerifyBody>
  <SCUpdateBody>&lt;p&gt;{mallname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</SCUpdateBody>
  <WebcomeBody>&lt;p&gt;{mallname}{regtime}{email}&lt;/p&gt;</WebcomeBody>
  <Receiver1>yuan.shi@grand-tec.com</Receiver1>
  <Receiver2>yuan.shi@grand-tec.com</Receiver2>
  <Receiver3>yuan.shi@grand-tec.com</Receiver3>
  <Receiver4>yuan.shi@grand-tec.com</Receiver4>
  <Receiver5>yuan.shi@grand-tec.com</Receiver5>
  <Receiver6>yuan.shi@grand-tec.com</Receiver6>
  <Receiver7>yuzhen.lv@grand-tec.com</Receiver7>
  <Receiver8>yuzhen.lv@grand-tec.com</Receiver8>
</EmailConfigInfo>